$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$logo_width: 7rem;
$logo_height: 3rem;

$nav_menu_button_size: 3rem;
