table.tblSorter {
    font-size: 1em;
    background-color: var(--brand-050);
    color: var(--brand-800);
    border-collapse: collapse;

    width: 100%;
    margin: 0 0 1rem 0;
    text-align: left;

    thead,
    tbody,
    tfoot {
        tr {
            th,
            th.header {
                background-color: var(--brand-100);
            }

            th,
            th.header,
            td {
                font-size: 1em;
                padding: 0.5em;
                border: 1px solid var(--brand-200);
            }
        }
    }

    tbody {
        td {
            vertical-align: top;
            background-color: inherit;
            color: var(--brand-800);
            padding: 0.5em;
        }
    }
}

#main_table {
}
