///////////////////////////////////////////////////////////
// Index / Dashboard Page
///////////////////////////////////////////////////////////

.index {
    #wrap {
        > p {
            &:first-of-type {
                margin-top: 1rem;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    // Stats summary
    #overall_tracking {
        font-size: 0.875em;
        color: var(--brand-600);
    }
}
