@use "../internal/shape" as *;
@use "../internal/elevation" as *;

///////////////////////////////////////////////////////////
// Datepicker
///////////////////////////////////////////////////////////

.datepicker {
  @include md-elevation(3);

  border: 1px solid var(--brand-200);
  border-radius: $shape-corner-small;
  background: var(--brand-050);
  width: 15rem;
  z-index: 100;

  tr.controls th {
    background: var(--brand-100);
    font-family: "Open Sans", sans-serif;
    font-size: 0.875em;
    padding: 0.25rem;
  }

  select {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875em;
  }

  tr.days th {
    background: var(--brand-100);
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;
    padding: 0.25rem;
  }

  th,
  tfoot td {
    background: var(--brand-100);
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;

    span {
      font-weight: 600;
    }
  }

  tfoot td {
    text-align: center;
    padding: 0.25rem;
    cursor: pointer;

    &:hover {
      background: var(--brand-200);
    }
  }

  tbody td {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--brand-100);
    font-family: "Open Sans", sans-serif;
    font-size: 0.875em;
    text-align: center;
    background: var(--brand-050);

    &.date {
      cursor: pointer;
    }

    &.date.over {
      background-color: var(--tertiary-100);
    }

    &.date.chosen {
      font-weight: 700;
      background-color: var(--brand-500);
      color: var(--brand-050);
    }
  }
}
