// @see https://coolors.co/palette/a2d7e9-2682b1-1f669c-477a67-70b769-cce1bc-fdeec7-fcd476-e58b76-d95735
// @see https://perceptualpalettes.alexdunn.au/?c=Brand%234393bb%2CSecondary%23e2b327%2CTertiary%230b1f65%2CNeutral%23000000%2CError%23ef4444%2CSuccess%2322c55e&l=90%2C80%2C70%2C60%2C35%2C21%2C12%2C6%2C2%2C1%2C0.5&n=true&i=true

:root {
    --brand-050: #ecf5fb;
    --brand-100: #d8eaf7;
    --brand-200: #c2def3;
    --brand-300: #aad0ee;
    --brand-400: #5ca6df;
    --brand-500: #2883c9;
    --brand-600: #1f659b;
    --brand-700: #16486f;
    --brand-800: #0c293e;
    --brand-900: #081b29;
    --brand-950: #05111a;
    --secondary-050: #fef3d8;
    --secondary-100: #fde5ac;
    --secondary-200: #fcd57a;
    --secondary-300: #fbc33f;
    --secondary-400: #d29404;
    --secondary-500: #a67603;
    --secondary-600: #805b03;
    --secondary-700: #5b4102;
    --secondary-800: #332401;
    --secondary-900: #221801;
    --secondary-950: #150f00;
    --tertiary-050: #e9f6fa;
    --tertiary-100: #d2ecf4;
    --tertiary-200: #b8e0ee;
    --tertiary-300: #9cd4e7;
    --tertiary-400: #3eacd1;
    --tertiary-500: #2888a9;
    --tertiary-600: #1f6982;
    --tertiary-700: #164b5d;
    --tertiary-800: #0c2a34;
    --tertiary-900: #081c23;
    --tertiary-950: #051115;
    --neutral-050: #f3f3f3;
    --neutral-100: #e7e7e7;
    --neutral-200: #dadada;
    --neutral-300: #cbcbcb;
    --neutral-400: #a0a0a0;
    --neutral-500: #7e7e7e;
    --neutral-600: #616161;
    --neutral-700: #454545;
    --neutral-800: #272727;
    --neutral-900: #191919;
    --neutral-950: #101010;
    --error-050: #fcf1ef;
    --error-100: #f9e3dd;
    --error-200: #f5d3c9;
    --error-300: #f1c1b4;
    --error-400: #e4876e;
    --error-500: #d8532f;
    --error-600: #aa3d20;
    --error-700: #7a2c17;
    --error-800: #45190d;
    --error-900: #2e1109;
    --error-950: #1d0a05;
    --success-050: #edf6ec;
    --success-100: #daecd8;
    --success-200: #c5e2c2;
    --success-300: #aed6aa;
    --success-400: #65b15d;
    --success-500: #4b8d44;
    --success-600: #396d34;
    --success-700: #294e25;
    --success-800: #172b15;
    --success-900: #0f1d0e;
    --success-950: #091209;
}
