// @see https://perceptualpalettes.alexdunn.au/?c=Brand%234393bb%2CSecondary%23e2b327%2CTertiary%230b1f65%2CNeutral%23000000%2CError%23ef4444%2CSuccess%2322c55e&l=90%2C80%2C70%2C60%2C35%2C21%2C12%2C6%2C2%2C1%2C0.5&n=true&i=true

:root {
    --brand-050: #edf5f9;
    --brand-100: #daeaf2;
    --brand-200: #c5deea;
    --brand-300: #aed1e2;
    --brand-400: #66a8c8;
    --brand-500: #3d86aa;
    --brand-600: #2f6783;
    --brand-700: #214a5e;
    --brand-800: #132935;
    --brand-900: #0c1b23;
    --brand-950: #081115;
    --secondary-050: #fbf3de;
    --secondary-100: #f6e7ba;
    --secondary-200: #f0d891;
    --secondary-300: #eac864;
    --secondary-400: #c59a1a;
    --secondary-500: #9c7a15;
    --secondary-600: #785e10;
    --secondary-700: #56430b;
    --secondary-800: #302606;
    --secondary-900: #201904;
    --secondary-950: #140f03;
    --tertiary-050: #f0f3fd;
    --tertiary-100: #e1e7fc;
    --tertiary-200: #d0d9fa;
    --tertiary-300: #bdcaf8;
    --tertiary-400: #839cf2;
    --tertiary-500: #5476ec;
    --tertiary-600: #2551e7;
    --tertiary-700: #1337b1;
    --tertiary-800: #0b1f65;
    --tertiary-900: #071544;
    --tertiary-950: #050d2b;
    --neutral-050: #f3f3f3;
    --neutral-100: #e7e7e7;
    --neutral-200: #dadada;
    --neutral-300: #cbcbcb;
    --neutral-400: #a0a0a0;
    --neutral-500: #7e7e7e;
    --neutral-600: #616161;
    --neutral-700: #454545;
    --neutral-800: #272727;
    --neutral-900: #191919;
    --neutral-950: #101010;
    --error-050: #fef1f1;
    --error-100: #fce1e1;
    --error-200: #fbd0d0;
    --error-300: #f9bcbc;
    --error-400: #f47c7c;
    --error-500: #ee3535;
    --error-600: #c31111;
    --error-700: #8e0c0c;
    --error-800: #530707;
    --error-900: #390505;
    --error-950: #270303;
    --success-050: #e0faea;
    --success-100: #bef4d2;
    --success-200: #95ecb5;
    --success-300: #63e492;
    --success-400: #20b758;
    --success-500: #199146;
    --success-600: #147036;
    --success-700: #0e5026;
    --success-800: #082d16;
    --success-900: #051e0e;
    --success-950: #031309;
}
