@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    color-scheme: light dark;
}

///////////////////////////////////////////////////////////
// Original style.css resets
///////////////////////////////////////////////////////////

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    background: light-dark(var(--neutral-050), var(--neutral-900));
    color: light-dark(var(--neutral-950), var(--neutral-050));

    padding: 0;
    margin: 0;
    text-align: revert;
}

div,
p,
td,
input,
input.text,
select,
textarea {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

#wrap {
    max-width: revert;
    min-height: revert;
    padding: 0;
    margin: 0;
    text-align: revert;
    border: 0 none;
    border-radius: 0;
    background: none;

    position: relative;
}

a {
    &,
    &:link,
    &:visited {
        color: var(--brand-500);
    }

    &:active,
    &:hover {
        color: var(--brand-800);
        text-decoration: none;
    }
}

#wrap {
    header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;

        padding: 1rem calc(1rem + $nav_button_size + 1rem) 1rem
            calc(1rem + $logo_width + 1rem);
        background: var(--neutral-100);
        border-bottom: 1px solid var(--neutral-200);

        &,
        & h1 a,
        & h1 a:hover span {
            color: var(--brand-500);
        }

        h1 {
            float: revert;
            height: revert;
            max-width: revert;

            a {
                display: block;
                float: revert;
                text-decoration: none;
                text-align: left;
                font-size: 1rem;

                &:hover {
                    span {
                        text-decoration: none;
                    }
                }

                img#yourls-logo {
                    display: block;
                    width: $logo_width;
                    height: auto;

                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }
            }
        }
    }
}

#footer {
    padding: 1rem 2rem;
    margin: 0;

    p {
        padding: 0;
        margin: 0;
        max-width: revert;
        border: 0 none;
        border-radius: 0;
        background: none;

        a {
            background-color: transparent;
        }
    }
}

///////////////////////////////////////////////////////////
// SCSS Heading 1
///////////////////////////////////////////////////////////

// SCSS Heading 2
/////////////////////////////////////////////////

//=== SCSS Heading 3 ===//

// SCSS Heading 4 //

//
