@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "light";
  color-scheme: light;
  default: true;

  --color-base-100: var(--color-neutral-50);
  --color-base-200: var(--color-neutral-100);
  --color-base-300: var(--color-neutral-200);
  --color-base-content: var(--color-neutral-950);
  --color-primary: var(--color-brand-500);
  --color-primary-content: var(--color-brand-50);
  --color-secondary: var(--color-secondary-500);
  --color-secondary-content: var(--color-secondary-50);
  --color-accent: var(--color-tertiary-500);
  --color-accent-content: var(--color-tertiary-50);
  --color-neutral: var(--color-neutral-700);
  --color-neutral-content: var(--color-neutral-50);
  --color-info: var(--color-tertiary-500);
  --color-info-content: var(--color-tertiary-50);
  --color-success: var(--color-success-500);
  --color-success-content: var(--color-success-50);
  --color-warning: var(--color-secondary-500);
  --color-warning-content: var(--color-secondary-50);
  --color-error: var(--color-error-500);
  --color-error-content: var(--color-error-50);
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  prefersdark: true;

  --color-base-100: var(--color-neutral-900);
  --color-base-200: var(--color-neutral-800);
  --color-base-300: var(--color-neutral-700);
  --color-base-content: var(--color-neutral-50);
  --color-primary: var(--color-brand-500);
  --color-primary-content: var(--color-brand-950);
  --color-secondary: var(--color-secondary-500);
  --color-secondary-content: var(--color-secondary-950);
  --color-accent: var(--color-tertiary-500);
  --color-accent-content: var(--color-tertiary-950);
  --color-neutral: var(--color-neutral-300);
  --color-neutral-content: var(--color-neutral-950);
  --color-info: var(--color-tertiary-500);
  --color-info-content: var(--color-tertiary-950);
  --color-success: var(--color-success-500);
  --color-success-content: var(--color-success-950);
  --color-warning: var(--color-secondary-500);
  --color-warning-content: var(--color-secondary-950);
  --color-error: var(--color-error-500);
  --color-error-content: var(--color-error-950);
}
