@use "palette";
@use "style";

@use "components/nav_menu";
@use "components/new_url";
@use "components/table";
@use "components/bookmarklet";
@use "components/notify_bar";

@use "pages/login";
@use "pages/index";
@use "pages/tools";
@use "pages/plugins";
